/* background image */
html {
    background: url(/assets/marbl.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* fixing mobile overscrolling */
@media screen and (max-width: 600px) { 
    html, body {
        overflow: hidden !important; 
    }
}
/* cebterubg a div */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.content {
    font-family: Georgia, serif;
    text-align: center;
    line-height: 150%;
    padding: 10px;
    color:rgb(40, 57, 114);
    background-color: antiquewhite;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100dvh - 60px - env(safe-area-inset-bottom));
    min-height: 0;
    width: calc(80dvw);
    -ms-overflow-style: none;  /* IE and Edge scrollbar hiding */
    scrollbar-width: none;  /* firefox scrollbar hiding */
}
/* chrome and safari scrollbar hiding */
.container::-webkit-scrollbar {
    display:none;
}