/* background image */
html {
    background: url(/assets/marbl.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* fixing mobile overscrolling */
@media screen and (max-width: 600px) { 
    html, body {
        overflow: hidden !important; 
    }
}
/* cebterubg a div */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.content {
    text-align: center;
    padding: 10px;
    color:blueviolet;
    background-color: antiquewhite;
    overflow-y:auto;
    max-height: calc(100vh - 60px);
    -ms-overflow-style: none;  /* IE and Edge scrollbar hiding */
    scrollbar-width: none;  /* firefox scrollbar hiding */
}
/* chrome and safari scrollbar hiding */
.container::-webkit-scrollbar {
    display:none;
}